[Unit]
Description=PalWorld Server
After=network.target

[Service]
Type=simple
# change to your custom user
User=root
# you can limit physical memory usage here
#MemoryMax=15G
# server restart mode
Restart=on-failure
# restart sec
RestartSec=30s
# use multi thread optimize
ExecStart=/path/to/Steam/steamapps/common/PalServer/PalServer.sh -useperfthreads -NoAsyncLoadingThread -UseMultithreadForDS
# default start command
# ExecStart=/path/to/Steam/steamapps/common/PalServer/PalServer.sh

[Install]
WantedBy=multi-user.target
