[Unit]
Description=PalWorld Server
After=network.target

[Service]
Type=simple
User=root          # change to your custom user
#MemoryMax=15G     # you can limit physical memory usage here
Restart=on-failure # server restart mode
RestartSec=30s     # restart sec
# use multi thread optimize
ExecStart=/path/to/Steam/steamapps/common/PalServer/PalServer.sh -useperfthreads -NoAsyncLoadingThread -UseMultithreadForDS
# default start command
# ExecStart=/path/to/Steam/steamapps/common/PalServer/PalServer.sh

[Install]
WantedBy=multi-user.target
