[Unit]
Description=PalWorld Server Tool
# Should start after PalWorld Server
After=palserver.service

[Service]
Type=simple
# change to your custom user
User=root
# server restart mode
Restart=on-failure
# restart sec
RestartSec=30s
# path to your pst/pst-agent dir
WorkingDirectory=/path/to
# path to your pst/pst-agent executable location
ExecStart=/path/to/pst

[Install]
WantedBy=multi-user.target
